{% extends "base.html" %}
{% block title %}ADL LRS Reset{% endblock title %}
{% block heading %}ADL LRS Reset{% endblock heading %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
{% endblock extra_css %}
{% block content %}
<br>
<div class="content">
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
        <h3 class="content-subhead">LRS Password Reset</h3>
		<p>忘记密码了吗？输入您的电子邮件地址下面，我们会给你一个链接，以重置它</p>
	    <form class="pure-form pure-form-stacked" action="" method="post">
	        {% csrf_token %}
	        {{ form.email.errors }}
	        <fieldset>
	        	<legend>输入您的电子邮件地址以重置密码:</legend>
	                <label for="id_email">Email Address</label>
	                {{ form.email }}	                
	            <button type="submit" class="pure-button pure-button-primary">Send</button>
	        </fieldset>
	    </form>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3"></div>
    </div>
</div>
{% endblock content %}